<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user_table</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='statics\css\style.css') }}">

</head>
<body>
    <h2>user table</h2>
    <table>
        <thead>
            <tr>
                <th>first name</th>
                <th>last name</th>
                <th>full name</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.first_name}}</td>
                <td>{{user.last_name}}</td>
                <td>{{user.first_name}} {{user.last_name}} </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html> 