<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stylesheet/mystyle.css') }}">
</head>

    
<body>
    <div class="checkerboard">
        {% for row in range(x) %}
            <div class="row">
                {% for column in range(y) %}
                    {% if (row + column) % 2 == 0 %}
                        <div class="black"></div>
                    {% else %}
                        <div class="white"></div>
                    {% endif %}
                {% endfor %}
            </div>
        {% endfor %}
    </div>
   
    <script type="text/javascript" src="{{ url_for('static', filename='javascript/myjava.js') }}"></script>

</body>
</html>